VITE_SUPABASE_URL=https://huyorbthvenltgexmzfk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh1eW9yYnRodmVubHRnZXhtemZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NzE3NjUsImV4cCI6MjA5MjU0Nzc2NX0.Z_FfFLVgHPjKngqEliSM4M8bPJJaZ12ed3XYd1j6e5I
